@{
	Layout = "SetupLayout.cshtml";
}

@section paneltitle {
	Setup - Step 1/3
}

<p>Welcome to the Azure Metrics Dashboard.</p>
<p>To get started, you need to complete a couple of steps:</p>
<ul>
	<li>Create a management user account for this application</li>
	<li>Pick an authentication key for API access</li>
</ul>
<p>Note that all data will by default be stored in a database in App_Data. You can change this behavior by modifying the connection string in the web.config. </p>
<a class="btn btn-primary" href="@Url.RouteUrl("create-admin-account")">Continue</a>