/WadGraphEs.MetricsEndpoint/AzurePlot.Web/metricsendpoint.config
/WadGraphEs.MetricsEndpoint/packages
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/obj
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/bin
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.v11.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.v12.suo
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/WadGraphEs.MetricsEndpoint.csproj.user
/WadGraphEs.MetricsEndpoint/AzurePlot.Lib/obj
/WadGraphEs.MetricsEndpoint/AzurePlot.Lib/bin
/WadGraphEs.MetricsEndpoint/AzurePlot.Console/WadGraphEs.MetricsEndpoint.Console.csproj.user
/WadGraphEs.MetricsEndpoint/AzurePlot.Console/bin
/WadGraphEs.MetricsEndpoint/AzurePlot.Console/obj
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/Freek.pfx
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/freekthuis.pfx
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/Properties/PublishProfiles
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/App_Data/*.sdf
/WadGraphEs.MetricsEndpoint/WadGraphEs.AzureDashboard.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.AzureDashboard.v11.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.AzureDashboard.v12.suo
/WadGraphEs.MetricsEndpoint/AzurePlot.Lib/WadGraphEs.MetricsEndpoint.Lib.csproj.user
/WadGraphEs.MetricsEndpoint/WadGraphEs.X509Tools/obj
/WadGraphEs.MetricsEndpoint/WadGraphEs.X509Tools/bin
/WadGraphEs.MetricsEndpoint/AzurePlot.suo
/WadGraphEs.MetricsEndpoint/AzurePlot.v11.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.AzurePlot.suo
/WadGraphEs.MetricsEndpoint/AzurePlot.Console/AzurePlot.Console.csproj.user
/WadGraphEs.MetricsEndpoint/AzurePlot.Lib/AzurePlot.Lib.csproj.user
/WadGraphEs.MetricsEndpoint/AzurePlot.Web/AzurePlot.Web.csproj.user
