/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/metricsendpoint.config
/WadGraphEs.MetricsEndpoint/packages
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/obj
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/bin
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.v11.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.v12.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.csproj.user
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.Lib/obj
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.Lib/bin
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.Console/WadGraphEs.MetricsEndpoint.Console.csproj.user
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.Console/bin
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint.Console/obj
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/Freek.pfx
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/freekthuis.pfx
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/Properties/PublishProfiles
/WadGraphEs.MetricsEndpoint/WadGraphEs.MetricsEndpoint/App_Data/*.sdf
/WadGraphEs.MetricsEndpoint/WadGraphEs.AzureDashboard.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.AzureDashboard.v11.suo
/WadGraphEs.MetricsEndpoint/WadGraphEs.AzureDashboard.v12.suo
