/AzurePlot/AzurePlot.Web/metricsendpoint.config
/AzurePlot/packages
/AzurePlot/AzurePlot.Web/obj
/AzurePlot/AzurePlot.Web/bin
/AzurePlot/WadGraphEs.MetricsEndpoint.v11.suo
/AzurePlot/WadGraphEs.MetricsEndpoint.v12.suo
/AzurePlot/AzurePlot.Web/WadGraphEs.MetricsEndpoint.csproj.user
/AzurePlot/AzurePlot.Lib/obj
/AzurePlot/AzurePlot.Lib/bin
/AzurePlot/AzurePlot.Console/WadGraphEs.MetricsEndpoint.Console.csproj.user
/AzurePlot/AzurePlot.Console/bin
/AzurePlot/AzurePlot.Console/obj
/AzurePlot/AzurePlot.Web/Freek.pfx
/AzurePlot/AzurePlot.Web/freekthuis.pfx
/AzurePlot/AzurePlot.Web/Properties/PublishProfiles
/AzurePlot/AzurePlot.Web/App_Data/*.sdf
/AzurePlot/WadGraphEs.AzureDashboard.suo
/AzurePlot/WadGraphEs.AzureDashboard.v11.suo
/AzurePlot/WadGraphEs.AzureDashboard.v12.suo
/AzurePlot/AzurePlot.Lib/WadGraphEs.MetricsEndpoint.Lib.csproj.user
/AzurePlot/WadGraphEs.X509Tools/obj
/AzurePlot/WadGraphEs.X509Tools/bin
/AzurePlot/AzurePlot.suo
/AzurePlot/AzurePlot.v11.suo
/AzurePlot/WadGraphEs.AzurePlot.suo
/AzurePlot/AzurePlot.Console/AzurePlot.Console.csproj.user
/AzurePlot/AzurePlot.Lib/AzurePlot.Lib.csproj.user
/AzurePlot/AzurePlot.Web/AzurePlot.Web.csproj.user
