@model ICollection<AzurePlot.Web.DataAccess.DashboardChart>

@{
    Layout = "HomeLayout.cshtml";
}

<div class="dashboard-controls">
<button type="button" class="btn btn-success add-to-dashboard">Add chart to dashboard..</button>
<div class="pull-right">
<form class="form-inline">
	<div class="form-group">
		<label for="select-chart-interval">Show last</label> <input class="form-control" id="select-chart-interval" type="text" value="1" />
	</div>
	<div class="form-group">
	<select id="interval-unit" class="form-control"><option value="minutes">minutes</option><option value="hours" selected>hours</option></select>
	</div>
</form>
</div>
</div>


<div class="modal fade" id="add-to-chart-modal" tabindex="-1" role="dialog" aria-labelledby="add-to-chart-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="add-to-chart-modal-label">Add item to dashboard</h4>
			</div>
			<div class="modal-body">
				<div class="list-group available-charts">
					<div class="list-group-item">Loading available charts...</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary add-to-dashboard-submit">Add to dashboard</button>
			</div>
		</div>
	</div>
</div>

<div id="chart-container">
	@foreach(var chart in Model) { 
		<input type="hidden" class="load-chart" value="@Html.ToJson(chart)" />
	}
</div>

<div id="chart-template" class="chart">
<div class="chart-area"></div>
<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button"  data-toggle="dropdown" >
		Actions
    <span class="caret"></span>
	</button>
	<ul class="dropdown-menu dropdown-menu-right" role="menu">
		<li role="presentation"><a role="menuitem" class="remove-chart" tabindex="-1" href="#">Remove from dashboard</a></li>
	</ul>
</div>
</div>


@section scripts {
	@Scripts.Render("~/scripts/dashboard/dashboard")
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script>
		Highcharts.setOptions({ global: { useUTC: false } });
	</script>
}

@section stylesheets {
	@Styles.Render("~/content/dashboard/dashboard")
}