<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extensions>
		<add assembly="WadGraphEs.MetricsEndpoint" />
	</extensions>
	<targets async="true">
		<target name="trace" xsi:type="trace" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=Type,Message,Method,ToString:separator=\n" />
		<target name="ViewableLogTarget" xsi:type="ViewableLogTarget" layout="${message}|${exception:format=Type,Message,Method,ToString:separator=\n" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="trace,ViewableLogTarget" />
	</rules>
</nlog>