@model WadGraphEs.MetricsEndpoint.DataAccess.AzureSubscription


<tr>
	<td><strong>@Model.FormatName()</strong> <small>Subscription Id: @Model.AzureSubscriptionId</small></td>
	<td>Azure Subscription</td>

</tr>