@model WadGraphEs.MetricsEndpoint.DataAccess.SQLDatabase


<tr>
	<td><strong>@Model.Servername</strong><br/><small>Username: @Model.Username</small><br/><small>SQL Database version: @Model.Version</small></td>
	<td>Azure SQL Database</td>

</tr>