/*from http://stackoverflow.com/questions/1964839/jquery-please-wait-loading-animation*/

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    2000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}

body.loading .loading-modal {
    display: block;
}

#error-box-template {
	display: none;
}