@{
    Layout = "HomeLayout.cshtml";
}

<button type="button" class="btn btn-success add-to-dashboard">Add item to dashboard..</button>


<div class="modal fade" id="add-to-chart-modal" tabindex="-1" role="dialog" aria-labelledby="add-to-chart-modal-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="add-to-chart-modal-label">Add item to dashboard</h4>
			</div>
			<div class="modal-body">
				<div class="list-group available-charts">
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary add-to-dashboard-submit">Add to dashboard</button>
			</div>
		</div>
	</div>
</div>

<div id="chart-container">
</div>


@section scripts {
	@Scripts.Render("~/scripts/dashboard/dashboard")
	<script src="http://code.highcharts.com/highcharts.js"></script>
}

@section stylesheets {
	@Styles.Render("~/content/dashboard/dashboard")
}