@{
    Layout = "HomeLayout.cshtml";
}

<div id="chart-container">
</div>

@section scripts {
	@Scripts.Render("~/scripts/dashboard/dashboard")
	<script src="http://code.highcharts.com/highcharts.js"></script>
}